<div class="jumbotron">
    <div *ngIf="!slides.length">
        <h1 class="display-4">Esto va a ser mi contenido</h1>
        <p class="lead">Aqui se supone que seran las presentaciones</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur delectus optio soluta perspiciatis inventore officia assumenda doloribus obcaecati nostrum dolorum! Dolor ex saepe itaque aut, ipsa sint neque voluptate fugit.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Diapositiva</a>
    </div>
    <div *ngIf="slides.length" >
        <div style="display: flex; flex-wrap: wrap;">
            <div *ngFor="let slide of slides" class="card" style="width: 18rem; margin: 0 15px 15px 0">
                <div class="card-body">
                    <h5 class="card-title">{{slide.type}}</h5>
                    <p class="card-text">{{slide.name}}</p>
                </div>
            </div>
        </div>
        <a style="position: absolute; bottom: 40px;" class="btn btn-primary btn-lg" href="#" role="button">Iniciar</a>
    </div>
</div>
