<div class="card-body ">
    <div class="title">
        <img src="./assets/config.png" alt="configuracion">
        <h2>Nubes de Palabras</h2>
    </div>
    <h5 class="card-title">A continuación podrás configurar tus Nubes de Palabras</h5>
    <form class="form" [formGroup]="slidesForm" >
        <div class="form-group">
            <label for="name">Nombre</label>
            <input formControlName="name" type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="nombre">
            <small id="namehelp" class="form-text text-muted">Este nombre solo es para identificar el formulario.</small>
        </div>
        <div class="form-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{slidesForm.controls['size'].value}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="update('Grande')">Grande</a>
                <a class="dropdown-item" (click)="update('Mediano')">Mediana</a>
                <a class="dropdown-item" (click)="update('Pequeño')">Pequeña</a>
            </div>
        </div>
        <button [disabled]="!slidesForm.valid" type="submit" class="btn btn-primary" (click)="onCreateMessage()">Añadir</button>
    </form>
</div>
