<div class="card-body ">
    <div class="title">
        <img src="./assets/config.png" alt="configuracion">
        <h2>Preguntas y respuestas</h2>
    </div>
    <h5 class="card-title">A continuación podras configurar tus Preguntas y Respuestas</h5>
    <form class="form" [formGroup]="slidesForm" >
        <div class="form-group">
            <label for="name">Nombre</label>
            <input formControlName="name" type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="nombre">
            <small id="namehelp" class="form-text text-muted">Este nombre solo es para identificar el formulario.</small>
        </div>
        <div class="form-group">
            <label for="ask1">Pregunta 1</label>
            <input type="text" class="form-control" id="ask1" placeholder="Pregunta 1">
        </div>
        <div class="form-group">
            <label for="ask2">Pregunta 2</label>
            <input type="text" class="form-control" id="ask2" placeholder="Pregunta 2">
        </div>
        <button [disabled]="!slidesForm.valid" type="submit" class="btn btn-primary" (click)="onCreateMessage()">Añadir</button>
    </form>
</div>
